<div class="main">
    <button (click)="backButton()" type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
    </button>
    <div class="container">
        <!-- <p class="introduction">
            Hi, myself Manita Regmi. I graduated with Bachelor's in Science majoring aeronautical and astrological Engineering from University of Washington, Seattle. I'm currently working as a Design engineer at Sekisui Aerospace where I'm working
            <span> on designing aircraft's interior monuments and main deck cargo liners for Boeing 777 as a part of Passenger to Cargo conversion program. 
            <br><br>
            Before getting my degree while I was still a student, I worked  as an Aerospace Assembler at Bucher Aerospace where I worked on the interior of business and 1st class for commercial airlines. I have experience working with tools on the floor assembling high quality closets, tables and entertainment cabinets. 
            I've also been part of multiple projects involving design and analysis.</span>
            <br>
            With a comprehensive skill set spanning Autodesk Inventor, AutoCAD, CATIA V5/V6, and SolidWorks, I excel in engineering drafting techniques, 3D modeling, and mechanical drawing. Whether creating intricate designs or detailed 2D drawings, I leverage CAD software to ensure precision and accuracy in all aspects of my work. Additionally, my proficiency extends to simulation design using MATLAB and Simulink, as well as ANSYS and XFOIL, allowing me to develop robust designs and conduct thorough analysis.

Furthermore, I bring expertise in laboratory testing, blueprint interpretation, and simulation design, ensuring the viability and functionality of projects from conception to completion. With a focus on lean manufacturing principles and analytical thinking, I continuously seek to optimize processes and enhance efficiency in engineering practices. My proficiency in a diverse range of software tools, combined with a strong foundation in CAD techniques, positions me as a versatile and effective engineer capable of meeting and exceeding project requirements.
        </p> -->

        <!-- <div class="card bg-dark text-white">
            <img src="../../assets/plane.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Manita Regmi</h5>
              <p class="card-text">Hi, myself Manita Regmi. I graduated with Bachelor's in Science majoring aeronautical and astrological Engineering from University of Washington, Seattle. I'm currently working as a Design engineer at Sekisui Aerospace where I'm working
                <span> on designing aircraft's interior monuments and main deck cargo liners for Boeing 777 as a part of Passenger to Cargo conversion program. 
                <br><br>
                Before getting my degree while I was still a student, I worked  as an Aerospace Assembler at Bucher Aerospace where I worked on the interior of business and 1st class for commercial airlines. I have experience working with tools on the floor assembling high quality closets, tables and entertainment cabinets. 
                I've also been part of multiple projects involving design and analysis.</span>
                <br></p>
              <p class="card-text">With a comprehensive skill set spanning Autodesk Inventor, AutoCAD, CATIA V5/V6, and SolidWorks, I excel in engineering drafting techniques, 3D modeling, and mechanical drawing. Whether creating intricate designs or detailed 2D drawings, I leverage CAD software to ensure precision and accuracy in all aspects of my work. Additionally, my proficiency extends to simulation design using MATLAB and Simulink, as well as ANSYS and XFOIL, allowing me to develop robust designs and conduct thorough analysis.

                Furthermore, I bring expertise in laboratory testing, blueprint interpretation, and simulation design, ensuring the viability and functionality of projects from conception to completion. With a focus on lean manufacturing principles and analytical thinking, I continuously seek to optimize processes and enhance efficiency in engineering practices. My proficiency in a diverse range of software tools, combined with a strong foundation in CAD techniques, positions me as a versatile and effective engineer capable of meeting and exceeding project requirements.</p>
            </div>
          </div> -->
    </div>
    

</div>

