<div class="container">
    <p class="work"><strong>Work and Experience  </strong>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z"/>
          </svg></p>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <strong>Design Engineer</strong>, July 2022 - Present<br>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>SEKISUI Aerospace, Renton, Washington</strong>
                    <ul>
                        <li> Design aircraft interior monuments for Boeing 777 passenger to cargo conversion using
                            Autodesk Inventor.</li>
                        <li>Drafted over 100+ detail design drawings of panels, sheet metal, machined part for
                            manufacturing production.</li>
                        <li>Analyzed the weight, mass and balance properties throughout all phases of the aircraft
                            interior monuments development. </li>
                        <li>Designed the whole plumbing system layout for aircraft lavatory by implementing new
                            strategies to reduce costs and improve efficiency</li>
                        <li>Analyzed and interpreted customer requirements to develop the design for Main deck cargo
                            shrouds, sidewall liners, ceiling panels and gap covers.</li>
                        <li>Worked with stress team to design static test fixtures for the monuments and drafted static
                            drawings. </li>
                        <li>Collaborated with tooling engineering to support with Vacuum Holding Fixture design for Pack
                            boards.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Aerospace Assembler </strong>, October 2019 - August 2020 
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Bucher Aerospace Corporation, Everett, Washington </strong>
                    <ul>
                        <li> Build high quality aerospace components from blueprints, engineering drawings,
                            specifications, bill of materials and
                            detailed work instructions. </li>
                        <li>Operated hand tools, electrical tools, hand cutters, and measuring equipments. </li>
                        <li>Performed ATP (Acceptance Test Process) and stress test of each built unit for a quality
                            check to identify any product
                            defects and make sure the forces were in tolerance and wouldn’t break. </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>Mathematics Tutor</strong>, March 2018 - April 2019<br>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Tutoring Services at Shoreline Community College </strong>
                    <ul>
                        <li> Used Innovative teaching methods to help Student progress with techniques and Concepts of Advanced Calculus, Linear 
                            Algebra and Differential Equations.</li>   
                    </ul>
              </div>
            </div>
          </div>
    </div>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">